:host {
  padding: 20px;
  display: block;
}

.league-logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.team-logo {
  width: 100px;
  margin: 0 auto;
  //   display: block;
}

.team {
  text-align: center;
  width: 95%;
  padding: 50px 0;
}
