<h2>
  <img [src]="league.strBadge" class="league-logo" />{{league.strLeague}}
</h2>
<p>{{league.strDescriptionEN}}</p>
<h3>Trophy</h3>
<img [src]="league.strTrophy" />
<h3>Teams</h3>
<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="Search" #filter (keyup)="onFilterChange(filter.value)" />
  </mat-form-field>
</form>
<mat-grid-list cols="6" gutterSize="20px">
  <mat-grid-tile *ngFor="let team of displayedTeams">
    <mat-card class="team">
      <img mat-card-image [src]="team.strTeamBadge" class="team-logo" />
      <mat-card-title>{{team.strTeam}}</mat-card-title>
      <mat-card-subtitle>Formed: {{team.intFormedYear}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button>Players</button>
        <button mat-button>Stats</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>