.row-income {
  background: #e8f5e9;
}

.row-expense {
  background: #ffebee;
}

.row {
  padding: 10px;
  border-bottom: 1px solid gainsboro;
  font-size: 14px;
}

.row-label {
  font-weight: bold;
}
