<div class="page-heading">
  <h3 mat-header>Transactions</h3>
  <div class="control-box">
    <button mat-raised-button color="accent">New transaction</button>
  </div>
</div>
<mat-list>
  <mat-list-item class="tr">
    <span>Amount</span>
    <span>Date</span>
    <span>Category</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let t of transactions | async" class="tr">
    <ng-container [ngSwitch]="t.type">
      <span *ngSwitchCase="'INCOME'">+ {{t.value | currency:'EUR'}}</span>
      <span *ngSwitchCase="'EXPENSE'">- {{t.value | currency:'EUR'}}</span>
    </ng-container>
    <span> {{t.timestamp | date:'short'}} </span>
    <span> {{t.category}} </span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>