<div class="page-heading">
  <h3 mat-header>Transactions</h3>
  <div class="control-box">
    <button mat-raised-button color="accent">New transaction</button>
  </div>
</div>
<mat-list>
  <mat-list-item class="row">
    <span class="column">Amount</span>
    <span class="column">Date</span>
    <span class="column">Category</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let t of transactions | async" [ngClass]="{'row': true, 'row-income': t.type === 'INCOME', 'row-expense': t.type === 'EXPENSE'}">
    <ng-container [ngSwitch]="t.type">
      <span *ngSwitchCase="'INCOME'" class="column">+ {{t.value | currency:'EUR'}}</span>
      <span *ngSwitchCase="'EXPENSE'" class="column">- {{t.value | currency:'EUR'}}</span>
    </ng-container>
    <span class="column"> {{t.timestamp | date:'short'}} </span>
    <span class="column"> {{t.category || '-'}} </span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>