<app-page-header [title]="'Transactions'">
</app-page-header>
<app-create-transaction></app-create-transaction>
<mat-table [dataSource]="transactions">
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let t">
      <ng-container [ngSwitch]="t.type">
        <ng-container *ngSwitchCase="'INCOME'">+</ng-container>
        <ng-container *ngSwitchCase="'EXPENSE'">-</ng-container>
        {{t.amount | currency:'EUR'}}
      </ng-container>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let t"> {{t.date | date:'mediumDate'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
    <mat-cell *matCellDef="let t"> {{t.category.value || '-'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let c">
      <button mat-icon-button (click)="transactionService.delete(c.docId)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['amount', 'date', 'category', 'action']"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: ['amount', 'date', 'category', 'action']"></mat-row>
</mat-table>