<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="Search" #filter (keyup)="onFilterChange(filter.value)" />
  </mat-form-field>
</form>

<mat-list>
  <h3 mat-subheader>Leagues</h3>
  <mat-list-item *ngFor="let league of displayedLeagues">
    <img [src]="league.strBadge" class="league-logo" />
    <a mat-button routerLink="/teams/{{league.idLeague}}">Teams</a>
    <h4 mat-line>{{league.strLeague}}</h4>
    <p mat-line> {{league.strCountry}}</p>
  </mat-list-item>
</mat-list>