<h3 mat-subheader>Leagues</h3>
<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="Search" #filter (keyup)="onFilterChange(filter.value)" />
  </mat-form-field>
</form>
<mat-card *ngFor="let league of displayedLeagues" class="league">
  <img [src]="league.strBadge" class="league-logo" />
  <div class="league-info">
    <h4 mat-line>{{league.strLeague}}</h4>
    <p mat-line> {{league.strCountry}}</p>
    <a mat-raised-button color="primary" routerLink="/leagues/{{league.idLeague}}">Show league</a>
  </div>
</mat-card>