<mat-toolbar color="primary" class="mat-elevation-z1">
    <button mat-icon-button>
        <mat-icon (click)="drawer.toggle()">view_headline</mat-icon>
    </button>
    <!-- <span class="app-name" fxHide fxShow.gt-xs>BudgetTracker v0.1</span> -->
    <span class="spacer"></span>
    <ng-container *ngIf="afAuth.authState | async as user">
        <mat-icon class="example-icon">verified_user</mat-icon>
        <div class="user">{{ user.displayName }}</div>
        <button mat-button (click)="logout()">Logout</button>
    </ng-container>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer mode="over">
        <a mat-button routerLink="/" class="sidebar-link" (click)="drawer.toggle()">Home</a>
        <a mat-button routerLink="/transactions" class="sidebar-link" (click)="drawer.toggle()">Transactions</a>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet *ngIf="afAuth.authState | async as user; else showLogin"></router-outlet>
        <ng-template #showLogin>
            <button (click)="login()" mat-raised-button color="primary">Login with Google</button>
        </ng-template>
    </mat-drawer-content>
</mat-drawer-container>