<mat-grid-list cols="6" rowHeight="300px" gutterSize="20px">
  <mat-grid-tile *ngFor="let player of players">
    <mat-card class="player">
      <img *ngIf="player.strCutout" mat-card-image [src]="player.strCutout" class="player-logo" />
      <img *ngIf="!player.strCutout" mat-card-image [src]="photoPlaceholder" class="player-logo" />
      <mat-card-title>{{player.strPlayer}}</mat-card-title>
      <mat-card-subtitle>Price: {{player.strSigning}}</mat-card-subtitle>
      <mat-card-subtitle>Nationality: {{player.strNationality}}</mat-card-subtitle>
      <mat-card-subtitle>Position: {{player.strPosition}}</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<p *ngIf="!players">No players found</p>