<ng-container *ngIf="device">
  <h2>{{device.name}}</h2>
  <form>
    <mat-form-field>
      <input #search matInput placeholder="Search" (keyup)="onSearchChange(search.value)">
    </mat-form-field>
  </form>
  <div class="container">
    <mat-card class="mat-elevation-z2" *ngFor="let m of displayedMeasurements" class="card" [ngClass]="{'history-mode': m.showHistory}">
      <mat-card-title>{{m.displayName}}</mat-card-title>
      <mat-card-subtitle>{{m.recorded | date:'fullTime'}}</mat-card-subtitle>
      <mat-card-content>
        {{m.value}} {{m.unit}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" (click)="onHistoryToggle(m.name)">
          <span *ngIf="!m.showHistory">HISTORY</span>
          <span *ngIf="m.showHistory">LIVE</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>